.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb li {
  display: inline-block;
}

.breadcrumb li:first-child a {
  margin-left: 0;
}

.breadcrumb li a {
  display: inline-block;
  height: 44px;
  margin-left: 10px;
  color: hsla(0,0%,0%,.62);
  font-size: .83rem;
}

@media (prefers-color-scheme: dark) {
  .breadcrumb li a {
    color: hsla(0,0%,100%,.62);
  }
}
